@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/l/font?kit=S6u9w4BMUTPHh6UVewqdGEWNgq8&skey=3480a19627739c0d&v=v16) format('woff2');
}
